header{
    width: 90%;
    height: 36px;
    display:flex;
    justify-content:space-between;
    align-items: top;
    margin: 15px auto;

}
    
header .search-box input{
width: 508.94px;
    height: 24px;
background: #F1F1F1;
border-radius: 66px;
    flex-grow: 2;
    padding: 12px;
}

header .nav-bar a{
    text-decoration: none;
    padding: 18px;
    font-size: 16px;
    color: #707070;
}

.top-section {
    display: flex;
    width: 1212px;
    height: 455px;
    background-color: #FEEAE9;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 100px 30px;
    padding: 20px 30px;
}

.top-section h1 {
    font-size: 56px;
}


.top-section .top-left-section{
    width: 70%;
    font-size: 16px;
    color: black;
}

.top-section p{
    font-size: 41px;
    color: #FF136F;
}

.top-section button{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    width: 168px;
    height: 52px;
    padding: 14px, 20px, 14px, 20px;
    border-radius: 6px;
    border: none;
 }
.top-section button a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;


}
.top-section img{
    width: 402px;
}

.main-categories{
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 198px;
    margin: 0 auto;
}

.main-categories .categories{
    height: 36px;
    display:flex;
    justify-content:space-between;
    align-items: top;
    margin: 15px auto;
    
    
}

.main-categories .categories .left-categories{
     display: flex;
    width: 359px;
height: 120px;
background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);

border-radius: 10px;
align-items: center;
justify-content: space-around;
font-size: 36px;
}

.main-categories .categories .left-categories img{
    width: 68.21px;
height: 90px;
top: 15px;
left: 242px
}


.main-categories .categories .center-categories{
    display: flex;
   width: 359px;
height: 120px;
background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);

align-items: center;
justify-content: space-around;
font-size: 36px;
border-radius: 10px;
}

.main-categories .categories .center-categories img{
   width: 68.21px;
height: 90px;
top: 15px;
left: 242px
}


.main-categories .categories .right-categories{
    display: flex;
   width: 359px;
height: 120px;
background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);

align-items: center;
justify-content: space-around;
font-size: 36px;
border-radius: 10px;
}

.main-categories .categories .right-categories img{
   width: 68.21px;
height: 90px;
top: 15px;
left: 242px
}
